// All posts
div#blog
	each post in posts
		div.blog-item
			a(href='/post/#{post.id}')
				img.single_image(src='/images/blog/thumbs/#{post.imageName}', width='280', height='180', alt='#{post.title}')
			div.blog-item-info
				div.user #{post.author}
				div.comments #{post.comments.length} comment#{post.comments.length != 1 ? 's' : ''}
				div.tags #{post.tags}
			div.blog-item-content
				a(href='/post/#{post.id}')
					h5 #{post.title}
				p!= formatMdText(post.brief)
				a.readmore(href='/post/#{post.id}') read more → <br/>
	
	div#pagination
		a.active(href='#') 1
		a(href='#') 2
		a(href='#') 3
		a(href='#') ...
		a(href='#') →
