// This is the START of the recent posts

div#recent-posts-container
	div.section-description
		h5 Recent posts
		p Here you can find some of our recent and fresh content...
	div.recent-summary
		each post, index in recentPosts
			div(class=(index == 0 ? 'recent-item' : 'recent-item-last'))
				a(href='/post/#{post.id}')
					img(src='/images/blog/thumbs/#{post.imageName}', width='250', height='150', alt='#{post.title}')
				h6 #{post.title}
				p #{post.postedAt.toDateString()}
						a.readmore(href='/post/#{post.id}') read more →
			
	// END of recent posts

	// This is the START of the recent projects
	div#recent-projects-container
		div.section-description
			h5 Recent projects
			p These are some of our latest projects, come nice stuff here...
		div.recent-summary
			each project, index in recentProjects
				div(class=(index == 0 ? 'recent-item' : 'recent-item-last'))
					a(href='/project/#{project.id}')
						img(src='/images/portfolio/thumbs/#{project.imageName}', width='250', height='150', alt='#{project.name}')
					h6 #{project.name}
					p #{project.title}
							a.readmore(href='/project/#{project.id}') read more →
		// END of recent projects
		div.spacer
		// END of content