// This is the START of the blog section
div#blog
	div.blog-item-single
		h3 #{post.title}
		div.blog-item-single-info
			div.user #{post.author}
				div.comments #{post.comments.length} comment#{post.comments.length != 1 ? 's' : ''}
				div.tags #{post.tags}
		div.blog-item-single-content
			a.single_image(href='/images/blog/large/#{post.imageName}')
				img(src='/images/blog/single/#{post.imageName}', width='720', height='280', alt='blog1')				
			p!= formatMdText(post.content)
		
		div.social-blog-buttons
			a.twitter-share-button(href='http://twitter.com/share', data-count='horizontal', data-via='92_Five') Tweet
			script(type='text/javascript', src='http://platform.twitter.com/widgets.js')
			iframe(src="http://www.facebook.com/plugins/like.php?app_id=108550772584353&amp;href=http%3A%2F%2Fwww.92five.net&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:450px; height:21px;")
		
		div.comments-block
			h3.comments-title!= (post.comments.length > 0 ? 'Comments (' + post.comments.length + ')' :  'No comments')	
			div.spacer
			each comment in post.comments
				div.comment
					img.avatar(alt='', src='' + gravatarUrl(comment.authorEmail))
					div.comment-info
						a.post-author(href='#') #{comment.authorName}
						p #{comment.postedAt}
					div.comment-body
					p!= formatMdText(comment.content)
					//- a.reply(href='#') Reply
					div.spacer
		
		div.response
			h3 Leave a comment
			h6.required-comment * required
			div#comment-form.form
				form(action='/post/#{post.id}/comment', method='post')
					input(type='hidden', name='_csrf', value='#{csrf_token}')
					div.input-block
						h6.short-label Name*
						input#name.short-field(type='text', name='name', value='')
					div.input-block
						h6.short-label Email*
						input#email.short-field(type='text', name='email', value='')
					div.input-block-long
						h6.short-label Web
						input#url.long-field(type='text', placeholder='http://', name='url', value='')
					div.textarea-block
						h6 Comment*
						textarea#comment(name='comment', rows='10', cols='70')
					div.clear
						input#comment-button.button(type='submit', name='submit', value='Submit')
			div.spacer