div.spacer
div#filter
img.star-divider
div#container
	ul#stage
		each project in projects
			li(data-tags='#{project.category}')
				a(href='/project/#{project.id}')
					img(src='/images/portfolio/thumbs/#{project.imageName}', alt='#{project.name}')
				h6 #{project.name}
					a.readmore(href='/project/#{project.id}') view →
				p #{project.title}
					
	
// Load quicksand
script(type='text/javascript', src='/scripts/jquery.quicksand.js')
